<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap">
    <!--Jinga static-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
    <!--Jinga static-end-->
    <!--Jinga head-->
    {% block head %}{% endblock %}
    <!--Jinga head-end-->
</head>
<body>
    <!--Jinga body-->
    {% block body %}{% endblock %}
    <!--Jinga body-end-->  
</body>
</html>